<div class="row">
  <%= form_for(@cat,html:{ class:"col-md-6"}) do |f| %>
      <div class="form-group">
        <%= f.label :url,"URL"%>
        <%= f.text_field :url,class:"form-control" %>
      </div>
      <%= f.submit nil,class:"btn btn-success" %>
   
  <% end %>

</div>