<h1><%= link_to("Add new Cat",new_cat_path)%></h1>
<p>Click cat for show it</p>

<table class="table table-striped">
    <thead>
        <th>
            CAT
        </th>
        <th>
           URL 
        </th>

        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </thead>
<% @cats.each do |cat| %>
    <tr>
        <td>
            <%= link_to(image_tag(cat.url,width:"150",height:"150",class:"grow-image"),cat_path(cat))%>
        </td>
        <td>
           <%= link_to(cat.url,cat.url,target:"_blank") %>
        </td>
        <td>
            <%= link_to("Edit",edit_cat_path(cat)) %>
        </td>
        <td>
            <%= link_to("Delete",cat_path(cat),method: :delete,data:{confirm:"Are u sure want delete this beautiful cat, well i think so"})%>
        </td>
    </tr>
<% end %>
</table>