<div class="row">
    <div class="media">
      <div class="media-left">
          <%= image_tag(@cat.url,class:" md-thumbnail")%>
      </div>
      <div class="media-body">
        <h4 class="media-heading"> <%= link_to(@cat.url,@cat.url,target:"_blank") %></h4>
         Description here
      </div>
    </div>    

    
</div>

<%= render "shared"%>