<div class="page-header">
  <h1>Reports Cat <small><%= "No person has voted yet" if @top_cats.empty? %> </small></h1>
</div>
<h4>order by </h4>
<% @vote_types.each do |vote_type| %>

    <%= link_to(vote_type.name,reports_path(order_by: vote_type.name) )%>  -

<% end %>
<div>
    <hr/>
     <%= link_to("Export to csv", votes_path(format:"csv") )%>
</div>

 
 
<div class="row">
  <% @top_cats.each_with_index do |top_cat,i| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
           <%= image_tag(top_cat[0][0])%>
          <div class="caption" style="text-align: center;">
            <button class="btn btn-primary" type="button">
              <%= top_cat[0][1] %> <span class="badge"><%= top_cat[1] %></span>
            </button>
        
          </div>
        </div>
      </div>
 
    <% end %>
</div>