<!DOCTYPE html>
<html>
<head>
  <title>InternshipApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to("ZOMG! CAT HEALTH!",root_path,class:"navbar-brand") %>
          </div>
          <div>
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to("Administrator",user_session_path) unless user_signed_in? %></li>
                <% if user_signed_in? %>
                <li><%= link_to "Cats",cats_path%>  </li>
                <li><%= link_to "Reports Cats",reports_path%> </li>
                <li><%= link_to "Sign out",destroy_user_session_path,method: :delete %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<%# debug flash%>
<% flash.each do |type,message|%>
<div class="alert alert-<%= type %>">
    <%= message %>
</div>
<% end %>
<%= yield %>
</div>
</body>
</html>
