<div clsas="row"> 
    
    <% @cats.each_with_index do |cat,i| %>
    <div class="col-md-4 col-md-offset-1">
    
        <%= form_for(cat.votes.build) do |f| %>
        <%= hidden_field_tag :cat_id,cat.id %>
        <div class="thumbnail">
            <%= image_tag(cat.url,class:"img-ronded img-thumbnail img-responsive") %>
            <div class="caption">

                <%= hidden_field_tag :vote_type_id,@votes_types[i].id %>
                <%= f.submit @votes_types[i].name,class:"btn btn-primary" %>
               
            </div>
        </div>
        <% end %>
    </div>
    <% end %>


</div>