// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grow-image:hover{
    border:1px solid #CCC;
    opacity:0.9;
}
.md-thumbnail{
    width:400px !important;
    height:300px !important;
}