// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
.total_votes:nth-of-type(1){
    text-align:center;
    font-size:4em;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
    background-color: #C52F24;
    border: 2px solid #980905;
}
